<h3>User Feedback</h3>
<p-dataTable [value]="arrayfeedback" [rows]="10" [paginator]="true" [pageLinks]="5" [responsive]="true" [editable]="true"
    [loading]="loading" scrollable="true" scrollHeight="50%" scrollWidth="100%">
    <p-column field="date" header="Date" [style]="{'width':'120px'}">
        <ng-template let-row="rowData" pTemplate="body">
            {{row.date | date:'MM/dd/yyyy'}}
        </ng-template>
    </p-column>
    <p-column field="name" header="Name" [style]="{'width':'120px'}"></p-column>
    <p-column field="email" header="Email" [style]="{'width':'200px'}"></p-column>
    <p-column field="page" header="Page" [style]="{'width':'150px'}"></p-column>
    <p-column field="suggestion" header="Suggestion" [style]="{'width':'350px'}"></p-column>
    <p-column field="type" header="Type" [style]="{'width':'100px'}"></p-column>
    <p-column field="assign" header="Asignee" [style]="{'width':'100px'}"></p-column>
    <p-column field="status" header="Status" [style]="{'width':'100px'}"></p-column>
    <p-column styleClass="col-button" [style]="{'width':'250px'}">
        <ng-template pTemplate="header">
            <button type="button" pButton class="ui-button-info" icon="fa-refresh"></button>

        </ng-template>
        <ng-template let-feedback="rowData" pTemplate="body">
            <button type="button" pButton class="ui-button-info" (click)="selectFeedback(feedback)" label="Assign"></button>
            <button type="button" pButton class="ui-button-info" (click)="selectFeedback(feedback)" label="Reply"></button>

        </ng-template>
    </p-column>
</p-dataTable>

<p-dialog header="Title" [(visible)]="displayDialog" appendTo="body" [width]="400" [contentStyle]="{'max-height':'200px'}" [autoAlign]="true" [responsive]="true" showEffect="fade"
    [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                <label for="assign">Assing To:</label>
            </div>
            <div class="ui-grid-col-8">
                <p-dropdown [options]="assign" [(ngModel)]="selectedAssign" appendTo="body" [style]="{'width':'150px'}" filter="true"></p-dropdown>
            </div>
        </div>
        <br>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                <label for="status">Status:</label>
            </div>
            <div class="ui-grid-col-8">
                <p-dropdown [options]="status" [(ngModel)]="selectedStatus" appendTo="body" [style]="{'width':'150px'}" filter="true"></p-dropdown>
            </div>
        </div><br>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                <label for="status">Replies</label>
            </div>
            <div class="ui-grid-col-8">
            </div>
        </div><br>
        <div class="ui-grid-row" *ngFor="let reply of FeedbackReply">
            <div class="ui-grid-col-4">
                <label for="status">{{reply.eid}} :- </label>
            </div>
            <div class="ui-grid-col-8">
                {{reply.reply}}
            </div>
        </div><br><hr>

        <div class="ui-grid-row">
            <div class="ui-grid-col-4">
                <label for="status">Your Reply</label>
            </div>
            <div class="ui-grid-col-8">
                <input pInputText id="reply" [(ngModel)]="updatefeedback.reply" />
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>