<p-table #dt [columns]="headersCol" [value]="newsArray" [paginator]="true" [rows]="50" [responsive]="true"
[loading]="loading" scrollable="true" selectionMode="single" [(selection)]="selectedNews" scrollHeight="500px" scrollWidth="100%" [style]="{'height':'500px'}"
[lazy]="true" [autoLayout]="true" (onLazyLoad)="loadCarsLazy($event)" [totalRecords]="totalRecords">
<ng-template pTemplate="caption">
    <div style="text-align: right">        
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <p-autoComplete [(ngModel)]="newspage.sid" [suggestions]="results" field="Company" (completeMethod)="search($event)" (onSelect)="sidSelect($event)"></p-autoComplete>
    </div>
    <div style="text-align: left">        
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <p-dropdown [options]="TopDrop" [(ngModel)]="newspage.top" (onChange)="getNewsPage()"></p-dropdown>
        </div>
</ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" width="{{col.width}}">
                {{col.header}}
            </th>
        </tr>
        <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field" width="{{col.width}}">
                    <p-dropdown *ngSwitchCase="'newstype'" [(ngModel)]="newspage.type" (onChange)="getNewsPage()" [options]="NewsDrop" appendTo="body" [style]="{'width':'100%'}"></p-dropdown>
                    
                </th>
            </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns" width="{{col.width}}" (click)="onRowSelectStock(rowData)">
                    {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="News Details" [(visible)]="displayDialog" appendTo="body" [contentStyle]="{'max-height':'400px'}" [responsive]="true" showEffect="fade" [modal]="true" [width]="600">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="selectedNews">
            <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        <label for="assign">Top News :</label>
                    </div>
                    <div class="ui-grid-col-8">
                            {{selectedNews.topnews}}
                    </div>
                </div>
                <br>
            <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        <label for="assign">Title :</label>
                    </div>
                    <div class="ui-grid-col-8">
                            {{selectedNews.title}}
                    </div>
                </div>
                <br>
            <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                        <label for="assign">Description :</label>
                    </div>
                    <div class="ui-grid-col-8">
                            {{selectedNews.description}}
                    </div>
                </div>
                <br>
                <div class="ui-grid-row">
                        <div class="ui-grid-col-4">
                            <label for="assign">link :</label>
                        </div>
                        <div class="ui-grid-col-8">
                                {{selectedNews.link}}
                        </div>
                    </div>
                    <br>
        
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-close" (click)="cancel()" label="Cancel"></button>
            <button type="button" pButton icon="fa fa-check" (click)="deleteNews()" label="Delete"></button>
        </div>
    </p-footer>
</p-dialog>