

<p-table #dt [columns]="headersCol" [value]="stockMaster" [paginator]="true" [rows]="50" [responsive]="true" [loading]="loading"
    scrollable="true" selectionMode="single" [(selection)]="selectedStock" scrollHeight="500px" scrollWidth="100%" [style]="{'height':'500px'}"
    [lazy]="true" (onLazyLoad)="loadCarsLazy($event)" [totalRecords]="totalRecords">
    <ng-template pTemplate="caption">
        <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <p-autoComplete [(ngModel)]="Company" [suggestions]="results" field="Company" (completeMethod)="search($event)" (onSelect)="sidSelect($event)"></p-autoComplete>
            <span style="margin-left:10px" [innerHtml]="Company"></span>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" width="{{col.width}}">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns" width="{{col.width}}" (click)="onRowSelectStock(rowData)">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>


<p-dialog header="Stock Details" [(visible)]="displayDialog" appendTo="body" [contentStyle]="{'max-height':'400px'}" [responsive]="true"
    showEffect="fade" [modal]="true" [width]="1000">
    <div class="ui-g ui-fluid">
        <div class="row">
            <div class="col">
                <label for="stockid">STOCKID</label>
                <input pInputText id="stockid" [(ngModel)]="stockmasterRequest.stockid" disabled/>
            </div>
            <div class="col">
                <label for="fincode">FINCODE</label>
                <input pInputText id="fincode" [(ngModel)]="stockmasterRequest.fincode" disabled/>
            </div>
            <div class="col">
                <label for="COMPNAME">COMPNAME</label>
                <input pInputText id="COMPNAME" [(ngModel)]="stockmasterRequest.compname" />
            </div>
            <div class="col">
                <label for="S_NAME">S_NAME</label>
                <input pInputText id="S_NAME" [(ngModel)]="stockmasterRequest.s_name" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="ACC_IND_CODE">ACC_IND_CODE</label>
                <input pInputText id="ACC_IND_CODE" [(ngModel)]="stockmasterRequest.acc_ind_code" />
            </div>
            <div class="col">
                <label for="ACC_Ind_Name">ACC_Ind_Name</label>
                <input pInputText id="ACC_Ind_Name" [(ngModel)]="stockmasterRequest.acc_ind_name" />
            </div>
            <div class="col">
                <label for="ind_code">IND_CODE</label>
                <input pInputText id="ind_code" [(ngModel)]="stockmasterRequest.ind_code" />
            </div>
            <div class="col">
                <label for="Ind_Name">Ind_Name</label>
                <input pInputText id="Ind_Name" [(ngModel)]="stockmasterRequest.ind_name" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="HSE_CODE">HSE_CODE</label>
                <input pInputText id="HSE_CODE" [(ngModel)]="stockmasterRequest.hse_code" />
            </div>
            <div class="col">
                <label for="Hse_Name">Hse_Name</label>
                <input pInputText id="Hse_Name" [(ngModel)]="stockmasterRequest.hse_name" />
            </div>
            <div class="col">
                <label for="SCRIPCODE">SCRIPCODE</label>
                <input pInputText id="SCRIPCODE" [(ngModel)]="stockmasterRequest.scripcode" />
            </div>
            <div class="col">
                <label for="SCRIP_GROUP">SCRIP_GROUP</label>
                <input pInputText id="SCRIP_GROUP" [(ngModel)]="stockmasterRequest.scrip_group" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="SYMBOL">SYMBOL</label>
                <input pInputText id="SYMBOL" [(ngModel)]="stockmasterRequest.symbol" />
            </div>
            <div class="col">
                <label for="SERIES">SERIES</label>
                <input pInputText id="SERIES" [(ngModel)]="stockmasterRequest.series" />

            </div>
            <div class="col">
                <label for="ISIN">ISIN</label>
                <input pInputText id="ISIN" [(ngModel)]="stockmasterRequest.isin" />

            </div>
            <div class="col">
                <label for="Cap_Class">Cap_Class</label>
                <input pInputText id="Cap_Class" [(ngModel)]="stockmasterRequest.cap_class" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="CHAIRMAN">CHAIRMAN</label>
                <input pInputText id="CHAIRMAN" [(ngModel)]="stockmasterRequest.chairman" />
            </div>
            <div class="col">
                <label for="COSEC">COSEC</label>
                <input pInputText id="COSEC" [(ngModel)]="stockmasterRequest.cosec" />
            </div>
            <div class="col">
                <label for="FFORMAT">FFORMAT</label>
                <input pInputText id="FFORMAT" [(ngModel)]="stockmasterRequest.fformat" />
            </div>
            <div class="col">
                <label for="FV">FV</label>
                <input pInputText id="FV" [(ngModel)]="stockmasterRequest.fv" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="INC_MONTH">INC_MONTH</label>
                <input pInputText id="INC_MONTH" [(ngModel)]="stockmasterRequest.inc_month" />
            </div>
            <div class="col">
                <label for="INC_YEAR">INC_YEAR</label>
                <input pInputText id="INC_YEAR" [(ngModel)]="stockmasterRequest.inc_year" />
            </div>
            <div class="col">
                <label for="MDIR">MDIR</label>
                <input pInputText id="MDIR" [(ngModel)]="stockmasterRequest.mdir" />
            </div>
            <div class="col">
                <label for="RFORMAT">RFORMAT</label>
                <input pInputText id="RFORMAT" [(ngModel)]="stockmasterRequest.rformat" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="SCRIP_NAME">SCRIP_NAME</label>
                <input pInputText id="SCRIP_NAME" [(ngModel)]="stockmasterRequest.scrip_name" />
            </div>
            <div class="col">
                <label for="Status">Status</label>
                <input pInputText id="Status" [(ngModel)]="stockmasterRequest.status" />
            </div>
            <div class="col">
                <label for="Sublisting">Sublisting</label>
                <input pInputText id="Sublisting" [(ngModel)]="stockmasterRequest.sublisting" />
            </div>
            <div class="col">
                <label for="FLAG">FLAG</label>
                <input pInputText id="FLAG" [(ngModel)]="stockmasterRequest.flag" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="SC_COMP">SC_COMP</label>
                <input pInputText id="SC_COMP" [(ngModel)]="stockmasterRequest.sc_comp" />
            </div>
            <div class="col">
                <label for="SC_FULLNAME">SC_FULLNAME</label>
                <input pInputText id="SC_FULLNAME" [(ngModel)]="stockmasterRequest.sc_fullname" />
            </div>
            <div class="col">
                <label for="IsSeasonal">IsSeasonal</label>
                <input pInputText id="IsSeasonal" [(ngModel)]="stockmasterRequest.isseasonal" />
            </div>
            <div class="col">
                <label for="MCAPType">MCAPType</label>
                <input pInputText id="MCAPType" [(ngModel)]="stockmasterRequest.mcaptype" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="MCAPRank">MCAPRank</label>
                <input pInputText id="MCAPRank" [(ngModel)]="stockmasterRequest.mcaprank" />
            </div>
            <div class="col">
                <label for="Alias">Alias</label>
                <input pInputText id="Alias" [(ngModel)]="stockmasterRequest.alias" />
            </div>
            <div class="col">
                <label for="QualityRank">QualityRank</label>
                <input pInputText id="QualityRank" [(ngModel)]="stockmasterRequest.qualityrank" />
            </div>
            <div class="col">
                <label for="QalityScoreText">QalityScoreText</label>
                <input pInputText id="QalityScoreText" [(ngModel)]="stockmasterRequest.qalityscoretext" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="QualityTotal">QualityTotal</label>
                <input pInputText id="QualityTotal" [(ngModel)]="stockmasterRequest.qualitytotal" />
            </div>
            <div class="col">
                <label for="ValuationRank">ValuationRank</label>
                <input pInputText id="ValuationRank" [(ngModel)]="stockmasterRequest.valuationrank" />
            </div>
            <div class="col">
                <label for="ValuationScoreText">ValuationScoreText</label>
                <input pInputText id="ValuationScoreText" [(ngModel)]="stockmasterRequest.valuationscoretext" />
            </div>
            <div class="col">
                <label for="CFTScore">CFTScore</label>
                <input pInputText id="CFTScore" [(ngModel)]="stockmasterRequest.cftscore" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="MergedWithStockID">MergedWithStockID</label>
                <input pInputText id="MergedWithStockID" [(ngModel)]="stockmasterRequest.mergedwithstockid" />
            </div>
            <div class="col">
                <label for="MergedWithStockRatio">MergedWithStockRatio</label>
                <input pInputText id="MergedWithStockRatio" [(ngModel)]="stockmasterRequest.mergedwithstockratio" />
            </div>
            <div class="col">
                <label for="HeaderMessage">HeaderMessage</label>
                <textarea pInputTextarea [(ngModel)]="stockmasterRequest.headermessage"></textarea>
            </div>
            <div class="col">
                <label for="StockNewsName">StockNewsName</label>
                <input pInputText id="StockNewsName" [(ngModel)]="stockmasterRequest.stocknewsname" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="NewsPriority">NewsPriority</label>
                <input pInputText id="NewsPriority" [(ngModel)]="stockmasterRequest.newspriority" />
            </div>
            <div class="col">
                <label for="HeaderMessageFromDT">HeaderMessageFromDT</label>
                <input pInputText id="HeaderMessageFromDT" [(ngModel)]="stockmasterRequest.headermessagefromdt" />
            </div>
            <div class="col">
                <label for="HeaderMessageToDT">HeaderMessageToDT</label>
                <input pInputText id="HeaderMessageToDT" [(ngModel)]="stockmasterRequest.headermessagetodt" />
            </div>

        </div>











    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-close" (click)="cancel()" label="Cancel"></button>
            <button type="button" pButton icon="fa fa-check" (click)="updateStock()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>