<p-table #dt [columns]="headersCol" [value]="stockMaster" [paginator]="true" [rows]="50" [responsive]="true" [loading]="loading"
    scrollable="true" selectionMode="single" [(selection)]="selectedStock" scrollHeight="500px" scrollWidth="100%" [style]="{'height':'500px'}"
    [lazy]="true" (onLazyLoad)="loadCarsLazy($event)" [totalRecords]="totalRecords">
    <ng-template pTemplate="caption">
        <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
                style="width:auto">
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" width="{{col.width}}">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns" width="{{col.width}}" (click)="onRowSelectStock(rowData)">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>


<p-dialog header="Stock Details" [(visible)]="displayDialog" appendTo="body" [contentStyle]="{'max-height':'400px'}" [responsive]="true"
    showEffect="fade" [modal]="true" [width]="1000">
    <div class="ui-g ui-fluid">
        <div class="row">
            <div class="col">
                <label for="stockid">STOCKID</label>
                <input pInputText id="stockid" [(ngModel)]="stockmasterRequest.stockid" disabled/>
            </div>
            <div class="col">
                <label for="fincode">FINCODE</label>
                <input pInputText id="fincode" [(ngModel)]="stockmasterRequest.fincode" disabled/>
            </div>
            <div class="col">
                <label for="COMPNAME">COMPNAME</label>
                <input pInputText id="COMPNAME" [(ngModel)]="stockmasterRequest.COMPNAME" />
            </div>
            <div class="col">
                <label for="S_NAME">S_NAME</label>
                <input pInputText id="S_NAME" [(ngModel)]="stockmasterRequest.S_NAME" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="ACC_IND_CODE">ACC_IND_CODE</label>
                <input pInputText id="ACC_IND_CODE" [(ngModel)]="stockmasterRequest.ACC_IND_CODE" />
            </div>
            <div class="col">
                <label for="ACC_Ind_Name">ACC_Ind_Name</label>
                <input pInputText id="ACC_Ind_Name" [(ngModel)]="stockmasterRequest.ACC_Ind_Name" />
            </div>
            <div class="col">
                <label for="ind_code">IND_CODE</label>
                <input pInputText id="ind_code" [(ngModel)]="stockmasterRequest.ind_code" />
            </div>
            <div class="col">
                <label for="Ind_Name">Ind_Name</label>
                <input pInputText id="Ind_Name" [(ngModel)]="stockmasterRequest.Ind_Name" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="HSE_CODE">HSE_CODE</label>
                <input pInputText id="HSE_CODE" [(ngModel)]="stockmasterRequest.HSE_CODE" />
            </div>
            <div class="col">
                <label for="Hse_Name">Hse_Name</label>
                <input pInputText id="Hse_Name" [(ngModel)]="stockmasterRequest.Hse_Name" />
            </div>
            <div class="col">
                <label for="SCRIPCODE">SCRIPCODE</label>
                <input pInputText id="SCRIPCODE" [(ngModel)]="stockmasterRequest.SCRIPCODE" />
            </div>
            <div class="col">
                <label for="SCRIP_GROUP">SCRIP_GROUP</label>
                <input pInputText id="SCRIP_GROUP" [(ngModel)]="stockmasterRequest.SCRIP_GROUP" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="SYMBOL">SYMBOL</label>
                <input pInputText id="SYMBOL" [(ngModel)]="stockmasterRequest.SYMBOL" />
            </div>
            <div class="col">
                <label for="SERIES">SERIES</label>
                <input pInputText id="SERIES" [(ngModel)]="stockmasterRequest.SERIES" />

            </div>
            <div class="col">
                <label for="ISIN">ISIN</label>
                <input pInputText id="ISIN" [(ngModel)]="stockmasterRequest.ISIN" />

            </div>
            <div class="col">
                <label for="Cap_Class">Cap_Class</label>
                <input pInputText id="Cap_Class" [(ngModel)]="stockmasterRequest.Cap_Class" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="CHAIRMAN">CHAIRMAN</label>
                <input pInputText id="CHAIRMAN" [(ngModel)]="stockmasterRequest.CHAIRMAN" />
            </div>
            <div class="col">
                <label for="COSEC">COSEC</label>
                <input pInputText id="COSEC" [(ngModel)]="stockmasterRequest.COSEC" />
            </div>
            <div class="col">
                <label for="FFORMAT">FFORMAT</label>
                <input pInputText id="FFORMAT" [(ngModel)]="stockmasterRequest.FFORMAT" />
            </div>
            <div class="col">
                <label for="FV">FV</label>
                <input pInputText id="FV" [(ngModel)]="stockmasterRequest.FV" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="INC_MONTH">INC_MONTH</label>
                <input pInputText id="INC_MONTH" [(ngModel)]="stockmasterRequest.INC_MONTH" />
            </div>
            <div class="col">
                <label for="INC_YEAR">INC_YEAR</label>
                <input pInputText id="INC_YEAR" [(ngModel)]="stockmasterRequest.INC_YEAR" />
            </div>
            <div class="col">
                <label for="MDIR">MDIR</label>
                <input pInputText id="MDIR" [(ngModel)]="stockmasterRequest.MDIR" />
            </div>
            <div class="col">
                <label for="RFORMAT">RFORMAT</label>
                <input pInputText id="RFORMAT" [(ngModel)]="stockmasterRequest.RFORMAT" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="SCRIP_NAME">SCRIP_NAME</label>
                <input pInputText id="SCRIP_NAME" [(ngModel)]="stockmasterRequest.SCRIP_NAME" />
            </div>
            <div class="col">
                <label for="Status">Status</label>
                <input pInputText id="Status" [(ngModel)]="stockmasterRequest.Status" />
            </div>
            <div class="col">
                <label for="Sublisting">Sublisting</label>
                <input pInputText id="Sublisting" [(ngModel)]="stockmasterRequest.Sublisting" />
            </div>
            <div class="col">
                <label for="FLAG">FLAG</label>
                <input pInputText id="FLAG" [(ngModel)]="stockmasterRequest.FLAG" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="SC_COMP">SC_COMP</label>
                <input pInputText id="SC_COMP" [(ngModel)]="stockmasterRequest.SC_COMP" />
            </div>
            <div class="col">
                <label for="SC_FULLNAME">SC_FULLNAME</label>
                <input pInputText id="SC_FULLNAME" [(ngModel)]="stockmasterRequest.SC_FULLNAME" />
            </div>
            <div class="col">
                <label for="IsSeasonal">IsSeasonal</label>
                <input pInputText id="IsSeasonal" [(ngModel)]="stockmasterRequest.IsSeasonal" />
            </div>
            <div class="col">
                <label for="MCAPType">MCAPType</label>
                <input pInputText id="MCAPType" [(ngModel)]="stockmasterRequest.MCAPType" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="MCAPRank">MCAPRank</label>
                <input pInputText id="MCAPRank" [(ngModel)]="stockmasterRequest.MCAPRank" />
            </div>
            <div class="col">
                <label for="Alias">Alias</label>
                <input pInputText id="Alias" [(ngModel)]="stockmasterRequest.Alias" />
            </div>
            <div class="col">
                <label for="QualityRank">QualityRank</label>
                <input pInputText id="QualityRank" [(ngModel)]="stockmasterRequest.QualityRank" />
            </div>
            <div class="col">
                <label for="QalityScoreText">QalityScoreText</label>
                <input pInputText id="QalityScoreText" [(ngModel)]="stockmasterRequest.QalityScoreText" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="QualityTotal">QualityTotal</label>
                <input pInputText id="QualityTotal" [(ngModel)]="stockmasterRequest.QualityTotal" />
            </div>
            <div class="col">
                <label for="ValuationRank">ValuationRank</label>
                <input pInputText id="ValuationRank" [(ngModel)]="stockmasterRequest.ValuationRank" />
            </div>
            <div class="col">
                <label for="ValuationScoreText">ValuationScoreText</label>
                <input pInputText id="ValuationScoreText" [(ngModel)]="stockmasterRequest.ValuationScoreText" />
            </div>
            <div class="col">
                <label for="CFTScore">CFTScore</label>
                <input pInputText id="CFTScore" [(ngModel)]="stockmasterRequest.CFTScore" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="MergedWithStockID">MergedWithStockID</label>
                <input pInputText id="MergedWithStockID" [(ngModel)]="stockmasterRequest.MergedWithStockID" />
            </div>
            <div class="col">
                <label for="MergedWithStockRatio">MergedWithStockRatio</label>
                <input pInputText id="MergedWithStockRatio" [(ngModel)]="stockmasterRequest.MergedWithStockRatio" />
            </div>
            <div class="col">
                <label for="HeaderMessage">HeaderMessage</label>
                <textarea pInputTextarea [(ngModel)]="stockmasterRequest.HeaderMessage"></textarea>
            </div>
            <div class="col">
                <label for="StockNewsName">StockNewsName</label>
                <input pInputText id="StockNewsName" [(ngModel)]="stockmasterRequest.StockNewsName" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <label for="NewsPriority">NewsPriority</label>
                <input pInputText id="NewsPriority" [(ngModel)]="stockmasterRequest.NewsPriority" />
            </div>
            <div class="col">
                <label for="HeaderMessageFromDT">HeaderMessageFromDT</label>
                <input pInputText id="HeaderMessageFromDT" [(ngModel)]="stockmasterRequest.HeaderMessageFromDT" />
            </div>
            <div class="col">
                <label for="HeaderMessageToDT">HeaderMessageToDT</label>
                <input pInputText id="HeaderMessageToDT" [(ngModel)]="stockmasterRequest.HeaderMessageToDT" />
            </div>

        </div>











    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-close" (click)="cancel()" label="Cancel"></button>
            <button type="button" pButton icon="fa fa-check" (click)="updateStock()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>